<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>
    <add key="lbTitle.Location" value="183,80"/>
    <add key="lbNumber.Location" value="373,169"/>
    <add key="lbDrawType.Location" value="582, 153"/>
    <add key="lbLuckyDog.Location" value="270, 286"/>
    <add key="lbcon.Location" value="228, 409"/>
  </appSettings>
</configuration>